<header class="page-header">
    <div class="container page-header__container">
        <a class="logo page-header__logo" href="/">
            <img class="logo__picture" src="/public/images/pic-logo.png" alt="">
        </a>
        <button class="menu-toggler js-menu-toggler" type="button">
            <span class="visually-hidden">Переключатель мобильного меню</span>
            <span class="menu-toggler__icon">
          <span class="menu-toggler__icon-line"></span>
        </span>
        </button>
        <nav class="navigation">
            <ul class="main-menu main-menu--horisontal">
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Home</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">About Us</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Software</a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" href="#">Pricing</a>
                </li>
            </ul>
            <a class="button page-header__button" href="#">Get Started</a>
        </nav>
    </div>
</header>